
body{margin: 0; padding: 0}
.App{
  height:100vh;
}
.text {
      text-align: justify;

      font-size: 16px;
      overflow: visible;

      padding-top: 20px;

    }

    .text:after {
      content: "";
      display: inline-block;
      width: 100%;

    }
    .label{
      display: none;
      position: absolute;
      left: 0px;
      top: -50px;
      width: 800px;
      font-size: 20px;
      text-align: center;
      opacity: 0.8;
      background-color: beige;
      font-weight: bold;
    }
    .labelImageWrapper{
      position: relative;
    }
    .labelImageWrapper:hover .label{
      display: block

    }


    .wrapper{
      /* display: flex;
      justify-content: space-around; */
      height:92vh;
      overflow: scroll;

    }

    .searchResults{
      margin-top: 0px;
      width: 800px;
      overflow: scroll;
      margin: auto;
      padding-bottom: 50vh;
    }
    .searchResults .text{
      width: 800px
    }
    .surface{
      width: 800px;
      margin: auto;
    }
    .surfaceResults{
      width: 100%;
      overflow: scroll;
      position: fixed;
      top: 50vh;
      height: 50vh;
      background-color: #979dbb;
      box-shadow: 0 0 8px 2px rgba(1, 1, 1, 0.6);
      -webkit-transition: width 2s; /* Safari */
      transition: width 2s;
    }
    .surfaceResultsDisplay{
      display: block
    }
    .surfaceResults .text{
      width: 800px;
      font-size: 10px;
    }
    .surfaceResults .label{
      width: 800px;
    }

.target{
  border: 3px solid yellow;
}

.search{
padding-left: 20px;
}


.paggerWrapper{
  margin: auto;
  margin-top: 80px;
  width: 800px;
  text-align: center
}

#footer-toolbar{
  justify-content: space-around;
  height: 8vh

}
#input-form{
  padding-left: 50px !important;
}
#queryString, #queryCodex, #queryInstitution{
  margin-left: 20px !important
}
#about{
height:92vh;
margin-top: 100px;
width: 60%;
margin: auto;
margin-top: 100px
}
.youtube{
  width: 60%;
}

#hide-surface{
  position: fixed;


}
